<!-- ===== OGP Common ===== -->
<meta property="og:site_name" content="Carbum">
<meta property="og:title" content="Carbum｜クルマ好きのSNS">
<meta property="og:description" content="愛車を投稿して、クルマ好きとつながろう">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.url }}">
<meta property="og:image" content="https://car-album-3.onrender.com/static/ogp.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Carbum｜クルマ好きのSNS">
<meta name="twitter:description" content="愛車を投稿して、クルマ好きとつながろう">
<meta name="twitter:image" content="https://car-album-3.onrender.com/static/ogp.png">
